# UMAP for bird-songs  
---

In [ ]:
## Installs for Coursera ^^
# conda install -c conda-forge librosa umap-learn
# conda install -c plotly plotly=4.14.3

In [2]:
from umap import UMAP
from sklearn.datasets import load_digits
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'

import os
import numpy as np
from matplotlib import pyplot as plt
import IPython.display as ipd
import librosa
import librosa.display
import pandas as pd
import glob
# import ffmpeg
%matplotlib inline

# Set general font size
plt.rcParams['font.size'] = '14'

import warnings
warnings.filterwarnings("ignore")

from tqdm.notebook import tqdm

In [3]:
def get_audio_filenames(audio_folder):
    '''Create a list of audio files in the provided folder'''
    
    audio_files = []
    for fn_mp3 in glob.glob(f"{audio_folder}*"):
        audio_files.append(fn_mp3)
    return audio_files

audio_filenames = get_audio_filenames('audio/')

In [67]:
def create_df_xeno_canto(csv_file, audio_folder, min_dur, max_dur):
    '''Create pandas dataframe with features provided by xeno-canto and append file name of audio file'''
    
    df = pd.read_csv(csv_file, header=None)
    
    df.columns = ['id', 'genus', 'species', 'subspecies', 'name', 'location',
                  'type', 'quality', 'length', 'bird-seen']
    df['filename'] = df['id'].map('audio/{}.mp3'.format, na_action='ignore')
    df['seconds'] = df['length'].apply(lambda x: int(x[0])*60 + int(x[-2:]))
    
    df = df[(df['seconds']>=min_dur) & (df['seconds']<=max_dur)]
    
    df.set_index('id', inplace=True)

    return df

df_xeno_canto = create_df_xeno_canto('features.csv', 'audio/', 2, 10)

# df_xeno_canto.sort_values(by='seconds', ascending=True).head()
df_xeno_canto.head()

,genus,species,subspecies,name,location,type,quality,length,bird-seen,filename,seconds
id,,,,,,,,,,,
11500,Branta,canadensis,maxima or interior,Canada Goose,United States,call,C,0:07,unknown,audio/11500.mp3,7
298756,Cygnus,buccinator,NaN,Trumpeter Swan,United States,call,B,0:10,yes,audio/298756.mp3,10
298754,Cygnus,buccinator,NaN,Trumpeter Swan,United States,call,B,0:02,yes,audio/298754.mp3,2
11848,Cygnus,columbianus,NaN,Tundra Swan,United States,Call,B,0:04,unknown,audio/11848.mp3,4
298758,Anas,platyrhynchos,NaN,Mallard,United States,call,B,0:09,yes,audio/298758.mp3,9

In [68]:
def create_mfcc_spectral_features(number_mfcc, sample_rate=22050):
    ''' '''

     # Create df to hold mfcc spectral features
    df = pd.DataFrame(columns = ['mfcc_avg' + str(item+1) for item in list(range(number_mfcc))] +
                                ['mfcc_std' + str(item+1) for item in list(range(number_mfcc))], 
                      index = df_xeno_canto['filename'])
        

    for audio_filename in tqdm(df_xeno_canto['filename']):


        y, sr = librosa.load(audio_filename, sr=sample_rate, mono=True)
        mfccs = librosa.feature.mfcc(y=y[:110250], sr=sr, n_mfcc=number_mfcc, hop_length=2048)
        # print(mfccs.shape)

        mfcc_means = [np.mean(item) for item in mfccs]
        mfcc_stds = [np.std(item) for item in mfccs]
            # print("mfcc means:", mfcc_means, "\nmfcc std deviations:", mfcc_stds)
        df.loc[audio_filename] = mfcc_means + mfcc_stds
  
    #print(mfcc_stds)
    
    return df


number_mfcc = 12
df_mfcc = create_mfcc_spectral_features(number_mfcc)

  0%|          | 0/143 [00:00<?, ?it/s]

In [69]:
def create_mel_spectral_features(sample_rate=22050):
    ''' '''

    # Create df to hold mfcc spectral features
    df = pd.DataFrame(columns = ['mel_avg' + str(item+1) for item in list(range(128))] +
                                ['mel_std' + str(item+1) for item in list(range(128))], 
                      index = df_xeno_canto['filename'])
        

    for audio_filename in tqdm(df_xeno_canto['filename']):
        

        y, sr = librosa.load(audio_filename, sr=sample_rate, mono=True)
        mels = librosa.feature.melspectrogram(y=y[:110250], sr=sample_rate, n_fft=2048, hop_length=512)
        # print(mels.shape)
        mels_means = [np.mean(item) for item in mels]
        mels_stds = [np.std(item) for item in mels]
        # print("mel means:", mels_means, "\nmel std deviations:", mels_stds)
        df.loc[audio_filename] = mels_means + mels_stds
  
    return df



df_mel = create_mel_spectral_features()

# df_mel.head()

  0%|          | 0/143 [00:00<?, ?it/s]

In [70]:
def create_df_umap(df1, df2, df3):

    df_umap_step1 = df1.merge(df2, how ='left', left_on='filename', right_index=True)
    df_umap_step2 = df_umap_step1.merge(df3, how ='left', left_on='filename', right_index=True)
    return df_umap_step2


df_umap = create_df_umap(df_xeno_canto, df_mfcc, df_mel)
df_umap.head()

,genus,species,subspecies,name,location,type,quality,length,bird-seen,filename,...,mel_std119,mel_std120,mel_std121,mel_std122,mel_std123,mel_std124,mel_std125,mel_std126,mel_std127,mel_std128
id,,,,,,,,,,,,,,,,,,,,,
11500,Branta,canadensis,maxima or interior,Canada Goose,United States,call,C,0:07,unknown,audio/11500.mp3,...,0.001016,0.000938,0.00113,0.000994,0.001644,0.002376,0.003047,0.003481,0.001149,0.00006
298756,Cygnus,buccinator,NaN,Trumpeter Swan,United States,call,B,0:10,yes,audio/298756.mp3,...,0.000007,0.000008,0.000006,0.000008,0.000011,0.000005,0.000006,0.000006,0.000001,0.0
298754,Cygnus,buccinator,NaN,Trumpeter Swan,United States,call,B,0:02,yes,audio/298754.mp3,...,0.000008,0.000007,0.000007,0.000006,0.000006,0.000007,0.000005,0.000005,0.000001,0.0
11848,Cygnus,columbianus,NaN,Tundra Swan,United States,Call,B,0:04,unknown,audio/11848.mp3,...,0.000096,0.000088,0.00009,0.000084,0.000082,0.000092,0.00009,0.000068,0.000026,0.000004
298758,Anas,platyrhynchos,NaN,Mallard,United States,call,B,0:09,yes,audio/298758.mp3,...,0.000057,0.000049,0.000028,0.000021,0.000017,0.000013,0.000012,0.000008,0.000003,0.0

In [71]:
def create_umap_chart(df, num_features=20, color_feature='species'):
    
    umap_2d = UMAP(random_state=0)
    umap_2d.fit(df.iloc[:, -num_features:].values)

    projections = umap_2d.transform(df.iloc[:, -num_features:].values)

    fig = px.scatter(
        projections, x=0, y=1,
        color=list(df[color_feature].astype(str)), labels={'color': color_feature},
        title = f"UMAP Plot of bird audio samples colored by {color_feature}"
    )
    
    return fig

num_mfcc_features = number_mfcc*2
# create_umap_chart(df_umap, num_mfcc_features, 'genus')

num_mel_features = df_mel.shape[1]
# create_umap_chart(df_umap, num_mel_features, 'genus')

num_mfcc_and_mel_features = num_mfcc_features + num_mel_features
print(f"Total number of features is {num_mfcc_and_mel_features}")
print(f"Total number of bird audio samples is {len(df_umap)}")
create_umap_chart(df_umap, num_mfcc_features+num_mel_features, 'genus')

Total number of features is 280
Total number of bird audio samples is 143